.container {
    width: 50%;
    margin: 72px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #888;
    

}
.img{
    z-index: -1;
    display: flex;
    margin-top: -36rem;
}
.registerDiv{
    display: flex;
    flex-direction: column;
}
form {
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}

label {
    font-weight: bold;
    padding-left: 7rem;
}

input{
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
    margin: 0 auto;
}

.input-group-btn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 2rem;
}

#register-btn, #edit-btn {
/* background-color: #4c98af; */
    background: linear-gradient(90deg, #0162c8, #55e7fc);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 1.5rem;
    font-size: 15px;
}

#cancel-btn{
    /* background-color: #ee6a49; */
    background: linear-gradient(90deg,#f53e11, #ee6a49);
    color: white;
    padding: 10px 18px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    /* font-size: 14px; */
}

#edit-btn{
    margin: 0 auto;
}

.input-group-loginBtn{
    margin: 1.2rem auto;
}

#login{
    color: black;
    font-size: 14px;
    text-transform: lowercase;
    text-decoration: underline;
}
  